.d-flex-colum{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.section-venta{
    @extend .d-flex-colum;
}

.section-venta2{
    @extend .d-flex-colum;
}

.articulo1 {
    display: flex;
    flex-direction: column;

    h2 {
        text-align: center;
        font-size: 1.3em;
    }
    img:hover {
        transform: scale(1.2);
        transition: transform 0.4s ease;
    }
    
}

.button {
    display: inline-block;
    transition-duration: $timepo-transicion;
    border: none;
    border-radius: 0.3125em;
    padding: 0.625em 1.5em;
    font-family: mifuente;
    font-size:larger;
    color: $color-texto;
    text-align: center;
    background-color: $color-boton-comprar;
    box-shadow:$box-shadow-comprar;
}

.button:hover {
    transform: scale(0.9);
    transition-duration: $timepo-transicion;
    background-color:$color-hover-comprar;
    color:$color-hover-texto; 
}

#PRECIO {
    font-family: mifuente1;
    font-weight: bold;
    color:$color-texto-precio;
}

.section-venta2 h2 {
    font-family: mifuente2;
    color: $color-venta2;
    font-size: 4em;
}

.contenedor-productos{
    display: flex;
}


.articulo2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: $articulo2-borde;
    border-radius: 0.5em;
    padding: 0.8em;
    width: 100%;
    background: $fondo-articulo;
    font-size: 1em;
    transition: transform 0.4s ease;
    color:$color-texto;
    font-style: italic;
    text-align: center;
}



.articulo2:hover {
    transform: scale(1.05);
    transition: transform 0.4s ease;
    box-shadow:$articulo2-hover-shadow;
}

@media all and (max-width: 768px) {
   
    .articulo1 {
        justify-content: center;
        align-items: center;
        width: 90%;
        background: $fondo-articulo;

        figure {
            width: 90%;
            img {
                width: 100%;
            }
        }

        a {
            width: 100%;
        }

        p{
            font-size: 1.1em;
            color:$color-texto;
        }
    }

    #texto-articulo {
        font-family: mifuente6;
        padding-left: 0.25em;
        padding-right: 0.25em;
    }
    
  
    .contenedor-productos{
        flex-direction: column;
        align-items: center;
    }
    
    .section-venta2 .enlace-venta {
        display: inline-block;
        width: 85%;
        text-decoration: none;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .articulo2 figure {
        width: 80%;
        img {
            width: 100%;
        }
    }
    
   

}

@media all and (min-width: 769px) {
  
    .articulo1 {
        justify-content: space-evenly;
        padding-top: 4em;

        figure {
            width: 25%;
            img {
                width: 100%;
            }
        }
        
    }

    .tarjeta {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .tarjeta-texto{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        p {
            font-size: 1.1em;
            color:$color-texto;
            font-family: mifuente6;
        }
    }

    .button {
        width: 75% !important;
    }
    
    .section-venta2 {
        margin-bottom: 5%;
    }
    
    .contenedor-productos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 1em;
        margin-bottom: 1em;

        a{
            width: 30%;
        }
    }
    
    .articulo2 {
        justify-content: space-evenly;
        figure {
            width: 50%;
            img {
                width: 100%;
            }
        }
     
    }    
}

