@media all and (max-width: 768px) {
    #main-formulario {
        padding: 1.5em;
    }

    form {
        width: 95%;
        margin: 0 auto;
        border-radius: 0.8em;
        background: linear-gradient(to bottom right, #690000, #000000);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1em;
        animation: cambiaColorx 3s infinite;
        box-shadow: 0 0 0 2px #ac3802;

    }

  

    form h2 {
        font-size: 2em;
        text-decoration: underline;
    }


    fieldset {
        width: 95%;
        display: flex;
        flex-direction: column;
    }

    label {
        font-family: 'Courier New', Courier, monospace;
        color: #ffffff;
        font-size: larger;
    }

    input,
    select {
        border-radius: 0.8em;
        width: 100%;
        padding: 0.5em;
        margin-bottom: 1.2em;
        font-family: mifuente;
    }

    #fechavencimiento {
        width: 50%;
    }

    #cvv {
        width: 30%;
    }


    select {
        /* Otros estilos */
        transition: all 0.3s ease;
    }


    select:hover {
        /* Estilos adicionales al pasar el cursor */
        background-color: #4e0303;
        /* Cambio de color de fondo al pasar el cursor */
    }

    .button {
        background-color: #410000;
        width: 95% !important;
        color: white;
        border: none;
        border-radius: 0.3125em;
        padding: 0.625em 1.5em;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        transition-duration: 0.4s;
        box-shadow: 0 0.3125em #fff0f0;
        font-family: mifuente;
        margin-bottom: 1.5em;


    }


    form .btn,
    form a {
        width: 95%;
        color: black !important;
        font-weight: bold;
    }



    form .btn-light {
        background-color: #ee9911 !important;
    }


    select {
        transition: opacity 0.5s ease, height 2s ease 0.7s;
        width: 60%;
        text-align: center;
        border-radius: 0.5em;
        font-family: 'Courier New', Courier, monospace;
    }
}

@media all and (min-width: 769px) {
 /*-----------------css formulario--------------*/
 #main-formulario {
    padding: 1.5em;
}

form {
    width: 80%;
    margin: 0 auto;
    border-radius: 0.8em;
    background: linear-gradient(to bottom right, #690000, #000000);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    animation: cambiaColorx 3s infinite;
    box-shadow: 0 0 0 2px #ac3802;
    margin-top: 4em;

}

@keyframes cambiaColorx {
    0% {
        box-shadow: 0 0 0 0.1em #ac3802;
        /* Color inicial del borde */
    }

    50% {
        box-shadow: 0 0 0 0.1em rgb(255, 255, 255);
        /* Color intermedio del borde */
    }

    100% {
        box-shadow: 0 0 0 0.1em #ac3802;
        /* Color final del borde */
    }
}

form h2 {
    font-size: 2em;
    text-decoration: underline;

}


fieldset {
    width: 95%;
    display: flex;
    flex-direction: column;
}

label {
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    font-size: larger;
}

input,
select {
    border-radius: 0.8em;
    width: 90%;
    padding: 0.5em;
    margin-bottom: 1.2em;
    font-family: mifuente;
}

#fechavencimiento {
    width: 50%;
}

#cvv {
    width: 30%;
}


select {
    /* Otros estilos */
    transition: all 0.3s ease;
    background: linear-gradient(to bottom right, #690000, #ac3802);
}


select:hover {
    /* Estilos adicionales al pasar el cursor */
    background-color: #ac3802
    /* Cambio de color de fondo al pasar el cursor */
}

.button {
    background-color: #410000;
    width: 95% !important;
    color: white;
    border: none;
    border-radius: 0.3125em;
    padding: 0.625em 1.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    transition-duration: 0.4s;
    box-shadow: 0 0.3125em #fff0f0;
    font-family: mifuente;
    margin-bottom: 1.5em;


}


form .btn,
form a {
    width: 40%;
    color: black !important;
    font-weight: bold;
}



form .btn-light {
    background-color: #ee9911 !important;
}

select {
    transition: opacity 0.5s ease, height 2s ease 0.7s;
    width: 60%;
    text-align: center;
    border-radius: 0.5em;
    font-family: 'Courier New', Courier, monospace;
}

}