@font-face {
    font-family: mifuente;
    src: $fuente_NewRocker_otf;
}

@font-face {
    font-family: mifuente1;
    src: $fuente_DancingScript_ttf;
}

@font-face {
    font-family: mifuenteA;
    src: $fuente_DancingScriptBold_ttf;
}

@font-face {
    font-family: mifuente2;
    src: $fuente_RemachineScript_ttf;
}

@font-face {
    font-family: mifuente3;
    src: $fuente_RockBottom_ttf;
}

@font-face {
    font-family: mifuente4;
    src: $fuente_RockAwayDemoRegular_ttf;
}

@font-face {
    font-family: mifuente5;
    src: $fuente_RockchildCalifornia_ttf;
}
