$fondo-body-general:linear-gradient(to bottom, black, #2b0000, #000000);

* {
    margin: 0;
    padding: 0;
    border: 0;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
}

@media all and (max-width: 768px) {

    body{
        background-color: #000000;
    }
}

@media all and (min-width: 769px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background: $fondo-body-general;
        margin: 0;
    }
}