@import '_flex.scss';

* {
    margin: 0;
    padding: 0;
    border: 0;
}


body {
    @extend .d-flex-colum;
    margin: 0;
    font-family: Arial, sans-serif;
    justify-content: space-evenly;
   
    /*mobile*/
    @media all and (max-width: 768px) {
        background-color: #000000;
    }

    /*desktop*/
    @media all and (min-width: 769px) {
        background: linear-gradient(to bottom, black, #2b0000, #000000);
    }

    
}