$inicio-color-texto:antiquewhite;
$inicio-fondo-mobile:linear-gradient(to bottom, black, #1f0303, #000000);

#inicio
{
    section article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        figure {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;

            img {
                border-radius: 0.5em;
                width: 90%;
            }
        }

        p {
            margin: 0 auto;
            color: $inicio-color-texto;
            padding: 0.5em;
            font-size: 1.3rem;
            width: 90%;
            font-family: mifuente;
        }
        
    }

  
}
 

@media all and (max-width: 768px) {
    #inicio main {
        background: $inicio-fondo-mobile;
    }

    #entry {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to bottom, black, #1f0303, #000000);
        figure {
            width: 80%;
            padding-top: 2em;
            padding-bottom: 2em;

            img {
                width: 100%;
            }
        }
    }
}

@media all and (min-width: 769px) {
    
    #ainicio article {
        padding: 1em;
    }
}