.d-flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-flex-colum-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#entry {
    @extend .d-flex-center;
    flex-direction: row;

    /*--- mobile ---*/
    @media all and (max-width: 768px) {
        background: linear-gradient(to bottom, black, #1f0303, #000000);
        figure {
            width: 80%;
            padding-top: 2em;
            padding-bottom: 2em;
        }
    
        img {
            width: 100%;
        }
    }

    /*--- escritorio ---*/
    @media all and (min-width: 769px) {
        height: auto;
        width: 100%;

        figure {
            @extend .d-flex-center;
            flex-direction: row;
            width: 100%;
            padding-top: 6em;
            padding-bottom: 4em;    
        }
    
        img {
            width: 60%;
        }
    
    }
}


#inicio {
    main article {
        @extend .d-flex-center;
        flex-direction: column;

        figure {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
    
            img {
                @media all and (max-width: 768px) {
                    width: 95%;
                }
                
                /*--- escritorio ---*/
                @media all and (min-width: 769px) {
                    width: 90%;
                }
                border-radius: 0.5em;
            }
        }
    
    }

    p {
        margin: 0 auto;
        color: antiquewhite;
        padding: 0.5em;
        font-size: 1.3rem;
        width: 90%;
        font-family: mifuente;
    }
}

 /*--- escritorio ---*/
 @media all and (min-width: 769px) {
    .articulo-gral {
        @extend .d-flex-colum-center;
        justify-content: space-evenly;
   
    }
    
    #articulo-inicio1 {
        @extend .d-flex-colum-center;
        justify-content: center;
        padding: 1em;
    }
    
    #articulo-inicio2 {
        @extend .d-flex-colum-center;
        justify-content: center;
        padding: 1em;
    }
}





