/*mobile*/
@media all and (max-width: 768px) {}

/*desktop*/
@media all and (min-width: 769px) {}

.d-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sectionventa {
    @extend .d-flex;
    flex-direction: column;
}

.sectionventa h2 {
    font-family: mifuente2;
}

.sectionventa a {
    display: inline-block;
    text-decoration: none;
    margin-top: 1em;
    margin-bottom: 1em;

    /*mobile*/
    @media all and (max-width: 768px) {

        width: 85%;
    }

    /*desktop*/
    @media all and (min-width: 769px) {
        width: 30%;
    }
}

.articulo2 {
    @extend .d-flex;
    width: 100%;
    border: #999999 solid 0.1em;
    border-radius: 0.5em;
    flex-direction: column;
    padding: 0.8em;
    background: linear-gradient(to bottom, black, #1f0303, #000000);
    font-size: 1em;
    transition: transform 0.4s ease;
    color: white;
    font-style: italic;
    text-align: center;
}

.articulo2 figure {
    width: 80%;
}

.articulo2 img {
    width: 100%;
}

.articulo2:hover {
    transform: scale(1.05);
    transition: transform 0.4s ease;
    box-shadow: 0 0 10px rgba(255, 215, 215, 0.87);
}

.button:hover {
    transform: scale(0.9);
}
/*-------------------fin puede interesarte-------------------------*/