.d-flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

body {
    background:$color-fondo-tienda;

    #mainTienda {
    
        h1 {
            animation: cambiaColor2 3s infinite;
            text-shadow: 0 0 10px rgb(24, 106, 112);
            font-family: mifuente3;
            padding: 0.1em;
            font-size: 7em;
        }
    
        #sectionTienda {
            @extend .d-flex;
    
            article {
                @extend .d-flex;
                flex-direction: column;
                padding: 1.1rem;
                border:$borde-articulo;
                border-radius: 0.5em;
                transition: transform 0.4s ease;
                margin-top: 2em;
                margin-bottom: 2em;
                background: $fondo-gradiente-articulos;
            }

            article:hover {
                transform: scale(1.05);
                box-shadow:$hover-shadow-articulo;
            }

            figure {
                width: 100%;
                img {
                    width: 100%;
                }
            }
    
            .enlaceRemera {
                display: inline-block;
                font-family: mifuente6;
                color: $color-enlace-remera;
                text-align: center;
            } 
        }
    }

}

@media all and (max-width: 768px) {
    
    #sectionTienda {
        flex-direction: column;
    }

    .enlaceRemera {
        width: 80%;   
    }

}

@media all and (min-width: 769px) {
   
    #sectionTienda {
        flex-wrap: wrap;
    }

    .enlaceRemera {
        width: 30%;
    }  
}
    
    
   
    



