
.d-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#body1 {
    background-color: #000000 !important;
}

#mainTienda {
    background: linear-gradient(to bottom, black, rgb(1, 3, 15), black, rgb(1, 3, 15), black);
}

#mainTienda h1 {
    animation: cambiaColor2 3s infinite;
    text-shadow: 0 0 10px rgb(24, 106, 112);
    font-family: mifuente3;
    padding: 0.1em;
    font-size: 7em;
}

#sectionTienda {
    @extend .d-flex;
    flex-wrap: wrap;
}


.enlaceRemera {
    display: inline-block;  
    text-decoration: none;
    font-family: mifuente6;
    color: #ffffff;
    text-align: center;

    /*mobile*/
    @media all and (max-width: 768px) {
        width: 80%;
    }

    /*desktop*/
    @media all and (min-width: 769px) {
        width: 30%;
    }

}

#sectionTienda article {
    @extend .d-flex;
    flex-direction: column;
    padding: 1.1rem;
    border: #fcfcfc 0.1em solid;
    border-radius: 0.5em;
    background-color: #000000;
    transition: transform 0.4s ease;
    margin-top: 2em;
    margin-bottom: 2em;
    background: linear-gradient(to bottom, black, #234657, #000000);
}

#sectionTienda article:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(255, 215, 215, 0.87);
}

#sectionTienda figure {
    width: 100%;
}

#sectionTienda figure img {
    width: 100%;
}

/*------------fin tienda--------------*/