/*------ fuentes -------*/
$fuente_NewRocker_otf: url('./fonts/NewRocker-Regular.otf');
$fuente_DancingScript_ttf: url('./fonts/DancingScript-Regular.ttf');
$fuente_DancingScriptBold_ttf: url('./fonts/DancingScript-Bold.ttf');
$fuente_RemachineScript_ttf: url('./fonts/RemachineScript_Personal_Use.ttf');
$fuente_RockBottom_ttf: url('./fonts/RockBottom.ttf');
$fuente_RockAwayDemoRegular_ttf: url('./fonts/RockAwayDemoRegular.ttf');
$fuente_RockchildCalifornia_ttf: url('./fonts/RockchildCalifornia.ttf');

/*------ fondo menu mobile -------*/
$fondo_menu: url('./img/fondomenu2.jpg');


/*------ fondo discos spotify -------*/
$cantidad_discos : 6;
$disco1: url('./img/apetite.jpg');
$disco2: url('./img/lies.webp');
$disco3: url('./img/use2.avif');
$disco4: url('./img/fondo2.webp');
$disco5: url('./img/spagheti.webp');
$disco6: url('./img/chinase.webp');


