.d-flex-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.d-flex-colum
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-world1 {
   
    @extend .d-flex-colum;

    article {
        @extend .d-flex-row;
        width: 90%;
    }

    figure img {
        width: 100%;
        animation: girar 8s linear infinite;
        transition: transform 0.1s ease;
        transform-style: preserve-3d;
        perspective: 10em;
    }

}

.section-world2 {
    padding-top: 1em;
    padding-bottom: 4em;

    article {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 auto;
    }

    table {
        border-collapse: collapse;
        font-size: 1.2em;
        text-align: center;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        td {
            color:$color-tabla;
            font-size: 1em;
            padding: 1.5em;
            width: 20vw;
            border: $borde-tabla;
            font-family: mifuente6;
            transition: background-color 0.7s ease;
            font-weight: bolder;
            background-color: $color-fondo-tabla;
        }

        tr:hover td {
            background-color: $hover-td;
            /* Cambia solo el color de fondo */
            text-shadow: $hover-shadow;
        }
    }
}



.section-world3 {
    @extend .d-flex-row;
    padding-bottom: 4em;

    article {
        @extend .d-flex-colum;
    }

    video {
        width: 100%;
    }
}


.section-world4 {
    @extend .d-flex-row;
    background: $fondo-section-world4;

    article {
        display: inline-block;
        justify-content: center;
        text-decoration: none;
        font-family: mifuente6;
        color: $color-texto-wordl4;
        text-align: center;
        padding-top: 2em;
        padding-bottom: 2em;
    }

    img {
        width: 100%;
        border-radius: 1em;
    }

    img:hover {
        transform: scale(1.05);
        transition: transform 0.4s ease;
        box-shadow: 0 0 0.5em rgb(255, 255, 255);
    }

   
}


@media all and (max-width: 768px) {
    #body-world-tour{
        background: $fondo-worldTour-mobile;
    }

    .section-world1 figure {
        width: 80%;
    }


    /*----css tabla---*/
    .section-world2 article {
        width: 90%;
    }

    
    /* Estilos generales */
    table {
        width: 100%;
        background-image:$fondo-worldTour-mobile;
    }

    .section-world4 article {
        width: 80%; 
    }


}

@media all and (min-width: 769px) {
     
    .section-world1 figure {
        width: 40%;
    }
    

    /*----css tabla---*/
    .section-world2 article {
        width: 100%;
     
    }
    
    /* Estilos generales */
    table {
        width: 90%;
        background-image: $imagen-tabla-desktop;
    }
    
    tr:hover td {
        text-transform: uppercase;
    }
    
    video {
        height: 90vh;
        border-radius: 1em;
    }
    
    .section-world4 {
        margin-bottom: 3em;
    }
    
    .section-world4 article {
        width: 40%;
    }
    

}

